h1{
    text-align: center;
}

img{
    height: 80vh;
    width: 80vw;
}

button{
    text-align: center;
    font-family: cursive;
    height: 50px;
    color: black;
    background-color: palegoldenrod;
    font-weight: 700;
}